.landingpage__service-headings_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.landingpage__service-headings_container h1{
    font-size: 35px;
    color: rgb(54, 48, 48);
    font-family: sans-serif;
}

.landingpage__service-headings_container p{
    margin-top: 1rem;
    font-family: sans-serif;
}

.landingpage__service-features-container{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width:550px){
    .landingpage__service-headings_container{
        text-align: center;
    }
}