.landingpage__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingpage__navbar-links{
    display: flex;
    padding-left: 3rem;
    
    /* padding-right: 2rem; */
}

.landingpage__navbar-links a{
    margin-right: 2rem;
    padding-left: 1rem;
    /* padding-right: 1rem; */
    font-size: 20px;
    font-weight: 500;
    color: black;
    font-family: sans-serif;
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
}

.landingpage__navbar-btn button{
    margin-left: 1rem;
    flex-direction: row;
}

.landingpage__navbar-btn_login{
    color: green;
    padding: 0.5rem 1rem;
    background: white;
    border: 1px solid white;
    box-shadow: 2px 2px grey;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    
}

.landingpage__navbar-btn_signup{
    background: rgb(6, 199, 6);
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid white;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.landingpage__navbar-togglemenu{
    margin-left: 1rem;
    display: none;
    position: relative;
}

.landingpage__navbar-links_container p{
    margin: 1rem 0rem;
}

.landingpage__navbar-togglemenu svg{
    cursor: pointer;
}

.landingpage__navbar-links_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: grey;
    padding: 2rem;
    position: absolute;
    top: 40;
    right: 0;
    margin-top: 1rem;
    font-family: sans-serif;
    min-width: 210px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}



.landingpage__navbar-links_toggle-container-sign{
    display: none;
}

.landingpage__navbar-links_toggle-container p a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (max-width:1050px) {
    .landingpage__navbar-links{
        display: none;
    }
    .landingpage__navbar-togglemenu{
        display: flex;
    }
    .landingpage__navbar-btn{
        display: flex;
        margin-left: 39rem;
    }
    .landingpage__navbar-links a{
        color: white;
    }
}

@media screen and (max-width:770px) {
    .landingpage__navbar-links{
        display: none;
    }
    .landingpage__navbar-btn{
        display: flex;
        margin-left: 22rem;
    }

}

@media screen and (max-width:550px){
    .landingpage__navbar-logo img{
        height: 30px;
    }
    .landingpage__navbar-btn{
        display: none;
    }
    .landingpage__navbar-links_toggle-container-sign{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: end;    
    }
    .landingpage__navbar-links_toggle-container-sign button{
        font-size: 20px;
        background: none;
        border: none;
        color: white;
    }
    .landingpage__navbar-links_toggle-container-sign button:last-child{
        margin-top: 1rem;
        color: lightgreen;
    }
}