.landingpage__features-logos{
    justify-content: center;
    align-items: center;
    margin-left: 7.5rem;
    margin-bottom: 2rem;
}

.landingpage__features-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-bottom: 2rem;
    width: 300px;
}

.landingpage__features-content h2{
    font-size: 23px;
    color: rgb(26, 25, 25);
    font-family: sans-serif;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.landingpage__features-content p{
    font-size: 15px;
    font-family: sans-serif;
    flex-wrap: wrap;
    text-align: center;
    color: rgb(145, 136, 136);
}
